---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Functions from '../components/Functions.astro';
import Mision from '../components/Mision.astro';
import Prices from '../components/Prices.astro'
import End from '../components/End.astro'
---

<Layout title="Mindwell">
    <main>
        <Hero />
        <Functions/>
        <Mision />
        <Prices />
        <End />
    </main>
    <footer>
        <p>© 2024 MindWell</p>
    </footer>
</Layout>

<style>
	main {
		color: white;
    }
    
    footer {
        background: #1E4B73;
        color: #FFF;
        padding: 20px;
    }

    @media (max-width:1200px){
        footer {
            width: 100vh;
            padding-top: 20px;
            padding-bottom: 20px;
            

        }
   }
   	
</style>
