
<section>
    <header>
    <h1>¡Siempre dispuesto a escucharte!</h1>
    <p>MindWell brinda acceso inmediato a atención psicológica mediante un chat con inteligencia artificial, conectando a usuarios con profesionales o instituciones especializadas en apoyo psicológico.</p>
    </header>
    
     <img src='https://utfs.io/f/6cc5a21e-a298-44a3-8eee-0ba33582f66a-7fgn0l.png' alt="Mindwell main screen"/>
</section>


<style>
    section {
        background: #005BA9;
        flex-shrink: 0;
        width: 100vw;
        height: 670px;
        display: flex;
        margin-top:auto;
        justify-content:center;
        gap: 30px;
    }

    header {
        display: flex;
        width: 665px;
        flex-direction: column;
        align-items: flex-start;
        justify-content:center;
        gap: 30px;
    }

    h1 {
        color: white;
        color: #FFF;
        font-size: 67px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;  
        letter-spacing: -1.675px;
    }

    p {
        color: #C8E4FD;
        text-align: justify;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
    }
    @media (max-width:1200px){
        section {
            padding-top: 50px;
            width: 100vh;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        h1 {
            font-size: 50px;
            text-align: center;
        }

        p {
            font-size: 14px;
            text-align:center;
        }

        img {
            height: 450px;
            width: 400px;
        }
   }
 
</style>
