<section>
    <header>
        <h2>Nuestra misión</h2>
        <p>Dedicados a brindar atención psicológica oportuna, eficaz e integral a cualquier persona que lo necesite, mediante el uso de inteligencia artificial, comprometida a impulsar la accesibilidad de atención psicológica.</p>
    </header>

    <img src="https://utfs.io/f/b83cec01-4ec0-4a74-b29d-3e21d6b38588-u0qnna.png" alt="Target Icon"/>
</section>

<style>
section {
    background: #FFF;
    width: 100%;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px; 
    box-sizing: border-box;
}

img {
    width: 413px;
    height: 413px;
    flex-shrink: 0;
    object-fit: contain; 
}

header {
    width: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; }

h2 {
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
}

p {
    color: #000;
    text-align: justify;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5;
}
</style>

